<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>PERLA VAULT</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body style="background-image:url('/static/css/img/error.jpg'); background-size:100%; background-repeat: no-repeat;">
    <div class="container">

    </div>


    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/tether.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
  </body>
</html>
