{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
		<div class="col-md-12">

			<h2 class="text-center mt-5 pb-2 text-white">
				BIENVENIDO SEÑOR PERLA
			</h2>

			<p class="text-center pt-2 pb-5 text-success"   >
        NO OLVIDES CHECKEAR LOS PUERTOS
      </p>

      <div class="text-center pt-4" >
         <a href="main"><button type="button" class="btn btn-success btn-lg" style="padding: 10px 10px 10px;">
				       Continuar
			   </button></a>
      </div>

    </div>
</div>
{% endblock %}
