<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>PERLA VAULT</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body id="body" style="background-image:url('/static/css/img/home.jpg'); background-size:100%; background-repeat: no-repeat;">
    <div id="pbar" class="progress mx-auto" style="display:none; width: 50%; margin: 50px; display:block; margin-top: 26%;">
			<div  class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="height:30px; padding-top:7px;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				<span class="progress-bar-label">0%</span>
			</div>
		</div>
    {% block body %} {% endblock %}
    <div class="wrapper" id="side-wrapper" style="display:none;">
        <nav id="sidebar" style=" background-color:rgba(0, 255, 0, 1);">
            <ul class="list-unstyled components" id="sidebar-top">
              <li><a href="/home" style="text-decoration:none;"><img src="/static/css/img/panel.png" style="width:180px"></a></li>
            </ul>

            <ul class="list-unstyled components" id="list">
                <a href="/logout"><img src="/static/css/img/logout_btn.png" id="logout"></a>
                <li>
                    <a href="/ssh" class="{{on_off}}">SSH CONTROL</a>
                </li>
                <li>
                    <a href="/archivoe" class="{{on_off}}">ArchivoE</a>
                </li>
                <li>
                    <a href="#">#####</a>
                </li>
                <li>
                    <a href="#">#####</a>
                </li>
                <li>
                    <a href="#">#####</a>
                </li>
                <p class="list-unstyled components" style="text-align:center;">{{inet_connection}}</p>
            </ul>
        </nav>
    </div>





    <script src="{{ url_for('static',filename='js/raphael-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/justgage.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/tether.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>



    {% block script %} {% endblock %}



  </body>
</html>
