{% extends 'mainvt.html' %}
{% block body %}


<a href="/raspissh" class="{{on_off_ssh}}"><img id="ssh" src={{debian}} class="rounded-circle" style="width:150px; height:150px;"></a>
{% endblock %}

{% block script %}
<script>
  document.getElementById("body").style.backgroundImage="url('/static/css/img/negro.png')";
  document.getElementById("body").style.backgroundSize="100%";
  document.getElementById("side-wrapper").style.display="grid";
  document.getElementById("pbar").style.display="none";
</script>
{% endblock %}
