{% extends 'mainvt.html' %}
{% block body %}
<form action="/sendssh" method="POST" enctype = "multipart/form-data">
  <div id="command" class="text-center" style="">
      <div style="display:inline-block; float:left;"><p ><button class="btn btn-warning btn-lg" style="font-size:12px;">Salir</button></p></div>
      <div style="display:inline-block;"><input id="command-input" type="text" style="display:inline-block;" class="form-control text-center" name="command" placeholder="Escriba comando ssh"></div>
      <p><button type="submit" class="btn btn-success btn-lg" style="margin-top:10px;display:inline-block;">Enviar Comando</button></p>
  </div>
</form>
<div>
  <p style="color:rgba(0, 255, 0, 1);" class="text-center"><br><br><br>{{ ssh_output }}</p>
</div>




{% endblock %}


{% block script %}
<script>
  document.getElementById("body").style.backgroundImage="url('/static/css/img/debian.jpg')";
  document.getElementById("body").style.backgroundSize="100%";
  document.getElementById("side-wrapper").style.display="grid";
  document.getElementById("pbar").style.display="none";
  document.getElementById("side-wrapper").style.display="none";
</script>
{% endblock %}
